:root {
  --green: #55c500;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  font-feature-settings: "palt";
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  grid-column: 1 / 3;
  line-height: 1.2;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  grid-column: 1 / 3;
  line-height: 1.4;
  margin-top: 32px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.container {
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(2, minmax(auto, 480px));
  justify-content: center;
  padding: 40px;
  width: 100%;
}

.before, .after {
  margin-top: 8px;
}

.before {
  grid-column: 1 / 2;
}

.after {
  grid-column: 2 / 3;
}

.area {
  background-color: #f4f4f4;
  margin-top: 8px;
}

.flex-gap {
  display: flex;
  flex-wrap: wrap;
}

.flex-gap.-before {
  padding: 16px 8px 8px 16px;
}

.flex-gap.-after {
  gap: 8px;
  padding: 16px;
}

.flex-gap__content {
  background-color: var(--green);
  height: 50px;
  width: min(100px, 100%);
}

.flex-gap__content.-before {
  margin-bottom: 8px;
  margin-right: 8px;
}

.css-grid {
  padding: 16px;
}

.css-grid.-before {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.css-grid.-after {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.css-grid__content {
  background-color: var(--green);
  height: 50px;
}

.css-grid__content.-before {
  width: min(100px, 100%);
}

.position-absolute-center {
  height: 200px;
  position: relative;
}

.position-absolute-center__content {
  background-color: var(--green);
  height: 50%;
  width: 50%;
}

.position-absolute-center__content.-before {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.position-absolute-center__content.-after {
  margin: auto;
  position: absolute;
  inset: 0;
}

.aspect-ratio {
  padding: 16px;
}

.aspect-ratio__content-wrapper.-before {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.aspect-ratio__content.-before {
  inset: 0;
  margin: auto;
  position: absolute;
}

.aspect-ratio__content.-after {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.logical-properties {
  height: 200px;
  width: 100%;
}

.logical-properties.-block {
  margin-top: 16px;
}

.logical-properties.-inline.-before {
  padding: 0 32px; /* または padding-left: 32px; padding-right: 32px; と個別指定 */
}

.logical-properties.-inline.-after {
  padding-inline: 32px;
}

.logical-properties.-block.-before {
  padding: 32px 0; /* または padding-top: 32px; padding-bottom: 32px; と個別指定 */
}

.logical-properties.-block.-after {
  padding-block: 32px;
}

.logical-properties__content {
  background-color: var(--green);
  height: 100%;
  width: 100%;
}

.min-function {
  height: 200px;
}

.min-function__content {
  background-color: var(--green);
  height: 100%;
}

.min-function__content.-before {
  max-width: 400px;
  width: 100%;
}

.min-function__content.-after {
  width: min(100%, 400px);
}

.where {
  padding: 16px;
}

.where.-before p:not(:first-of-type) {
  margin-top: 16px;
}

:where(.where.-after p:not(:first-of-type)) {
  margin-top: 16px;
}

.where__content.-before {
  margin-top: 32px !important;
}

.where__content.-after {
  margin-top: 32px;
}

.accent-color {
  padding: 16px;
}

.accent-color.-after {
  accent-color: var(--green);
}

.svg-non-scaling-stroke {
  padding: 16px;
}

.svg-non-scaling-stroke svg + svg {
  height: 100%;
  width: 100%;
}
