*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: grid;
  column-gap: 16px;
  grid-template-columns: minmax(auto, 480px) minmax(auto, 480px);
  justify-content: center;
  padding-block: 40px;
  width: 100%;
}

.title {
  grid-column: 1 / 3;
}

.heading {
  grid-column: 1 / 3;
  margin-top: 24px;
}

.before {
  grid-column: 1 / 2;
  margin-top: 16px;
}

.after {
  grid-column: 2 / 3;
  margin-top: 16px;
}

.css-grid {
  background-color: #f0f0f0;
  padding: 16px;
}

.css-grid.-before {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.css-grid.-after {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.css-grid__content {
  background-color: #55c500;
  height: 50px;
}

.css-grid__content.-before {
  width: min(100px, 100%);
}

.position-absolute-center {
  background-color: #f0f0f0;
  height: 200px;
  position: relative;
}

.position-absolute-center__content {
  background-color: #55c500;
  height: 50%;
  width: 50%;
}

.position-absolute-center__content.-before {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.position-absolute-center__content.-after {
  margin: auto;
  position: absolute;
  inset: 0;
}

.aspect-ratio.-before {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.aspect-ratio__content.-before {
  inset: 0;
  margin: auto;
  position: absolute;
}

.aspect-ratio.-after {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.logical-properties {
  background-color: #f0f0f0;
  height: 200px;
  width: 100%;
}

.logical-properties.-block {
  margin-top: 16px;
}

.logical-properties.-inline.-before {
  padding: 0 32px; /* または padding-left: 32px; padding-right: 32px; と個別指定 */
}

.logical-properties.-inline.-after {
  padding-inline: 32px;
}

.logical-properties.-block.-before {
  padding: 32px 0; /* または padding-top: 32px; padding-bottom: 32px; と個別指定 */
}

.logical-properties.-block.-after {
  padding-block: 32px;
}

.logical-properties__content {
  background-color: #55c500;
  height: 100%;
  width: 100%;
}

.min-function {
  background-color: #f0f0f0;
  height: 200px;
}

.min-function__content {
  background-color: #55c500;
  height: 100%;
}

.min-function__content.-before {
  max-width: 400px;
  width: 100%;
}

.min-function__content.-after {
  width: min(100%, 400px);
}
